# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
*.whl

# Virtual environments
venv/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover

# IDE / PyCharm
.idea/

# Environment variables
.env

# Misc
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints

# Optional type checker caches
.mypy_cache/
.pyre/
__pypackages__/

# Ignore data sets
*.csv
/data